style
    body{
       
         
    }
    h1{
        font-size: 45px;
        padding: 15px;
        text-align: center;
        text-shadow: 5px 5px 40px rgb(49, 49, 49);
    }
    h2{
      text-align: center;
      text-shadow: 5px 5px 40px rgb(49, 49, 49);
    }
    ul{
      display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    align-items: center;
      
    }
    
    p{
        margin: 15%;
        
    }
    
    .textbox{
        display: block;
        height: 30px;
        margin-bottom: 3px;
        color: black;
        font-weight: bold;
        
    }

    
      #button{
        height: 50px;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        text-align: center;
        margin-left: 42.8%;
        margin-right: 40%;
        
        align-items: center;
        
        
        
      }
      button:hover{
        transform: scale(1.1);
        background-color: rgb(247, 173, 38);
        
      }

      